<% var item = locals.price_range_prop;
for ( var i = 0; i < item.length; i++ ) { %>
<div class="price-range-block" id="selector_price_range">
	<div class="range range-filter">
		<div class="range_space">
			<div class="range_inner-space">
				<div class="range-point range_start-point">
					<div class="range-point_data range_start-point_data"><span class="range_start-number"><%= item[i].bottom_point; %></span>$</div>
				</div>
				<div class="range-point range_end-point">
					<div class="range-point_data range_end-point_data"><span class="range_end-number"><%= item[i].top_point; %></span>$</div>
				</div>
			</div>
		</div>
	</div>
	<div class="input-parent">
		<div class="price-range_inputs">
			<label for="price_range_bottom_field" class="label">From</label>
			<input type="number" name="price_range_bottom_field" id="price_range_bottom_field" class="input" data-range-min-val="<%= item[i].bottom_val; %>" data-range-bottom-val="<%= item[i].bottom_point; %>" autocomplete="off" />
			<label for="price_range_top_field" class="label">To</label>
			<input type="number" name="price_range_top_field" id="price_range_top_field" class="input" data-range-max-val="<%= item[i].top_val; %>" data-range-top-val="<%= item[i].top_point; %>" autocomplete="off" />
		</div>
		<div class="range-invalid-msg hidden"></div>
	</div>
</div>
<% } %>